/untitled

*.class

ui/node_modules

ui-*




server/HELP.md
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server/!**/src/main/**
server/!**/src/test/**

server/### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

server/### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

server/### NetBeans ###
server//nbproject/private/
server//nbbuild/
server//dist/
server//nbdist/
server//.nb-gradle/
server/build/

server/### VS Code ###
server/.vscode/
